body{
   background: linear-gradient(to right,gray ,rgb(67, 169, 252));
   cursor: pointer;
}
.outerclock{
   width: 350px;
   height: 350px;
   background:url(rclock.jpg);
   position: relative;
   margin-left: 35%;
   margin-top: 10%;
   border-radius: 50%;
   box-shadow: 3px 3px 5px gray,-3px -3px 5px white;
   background-size: contain;
   z-index: 9999;
}
.innerclock{
   width: 350px;
   height: 350px;
   background:url(clock.png);
   position: relative;
   margin-left: 0%;
   margin-top: 10%;
   border-radius: 50%;
   background-size: contain;
   opacity: 95%;
   z-index: 4;
}

.circle{
   width: 20px;
   height: 20px;
   position: absolute;
   top: 47%;
   left: 48.5%;
   border-radius: 50%;
   background: black;
   z-index: 9;
}
#hour_clock{
   width: 10px;
   height: 75px;
   background: transparent;
   border: 1px solid white;
   position: absolute;
   top: 27.5%;
   left: 49.2%;
   border-radius: 50% 50% 0px 0px;
   transform-origin: bottom;
   z-index: 7;
}
#minute_clock{
   width: 7px;
   height: 110px;
   background: black;
   position: absolute;
   top: 18%;
   left: 49.95%;
   border-radius: 50% 50% 0px 0px;
   transform-origin: bottom;
   z-index: 7;
}
#second_clock{
   width: 2px;
   height: 130px;
   background: red;
   position: absolute;
   top: 12%;
   left: 50.7%;
   border-radius: 50% 50% 0px 0px;
   transform-origin: bottom;
   z-index: 8;
}